.main-container{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-container .container{
    width: 90%;
justify-content: center;
display: flex;
flex-direction: column;
}
.main-container .container .ad1{
    justify-content: center;
    display: flex;
    margin: 20px 0 0 0;
}
.main-container .container .ad1 img{
    width: 80%;
}
.main-container .container .category-sec{
    margin: 20px 0 0 0;  
    
}
.main-container .container .category-sec h1{
    color: rgba(0, 0, 0, 0.749);
    font-family: 'Courier New', Courier, monospace;
    
}
.main-container .container .item-section{

    min-width: 60%;
    display: flex;
justify-content: space-around;
flex-wrap: wrap;
    margin: 0 11px 0 0;

}

.main-container .container .item-section .item-box{
    background-color: white;
width: 200px;
height: 240px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 12px;
box-shadow: 0px 0px 5px #0000003b;
margin: 10px 0 14px 1px;
}

.main-container .container .item-section .item-box img{
    width: 80px;
}
.main-container .container .item-section .item-box a{
    background-color: orange;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 15px;
}
@media screen and (max-width:700px) {
    .main-container .container .category-sec h1{
    font-size: 100%;
    
}
}