.container{
    max-width:1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container form{
     background-color: white;
     border-radius: 12px;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
     width: 400px;
     padding: 20px;
}
.container form input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    margin: 20px 0;
    padding: 10px;
}
.container form button{
    padding: 10px 10px;
    border: none;
    border-radius:8px;
    font-size: 14px;
    background-color: orange;
    color: white;
    cursor: pointer;
}